#define RT_MANIFEST 24
1 RT_MANIFEST "app.manifest"
2 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Hazem Abdelghani"
      VALUE "FileDescription", "ZiNc EX - a launcher for the ZiNc arcade emulator"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "ZiNc-EX"
      VALUE "OriginalFilename", "ZiNc-EX.exe"
      VALUE "ProductName", "ZiNc EX"
      VALUE "ProductVersion", "1.0.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}
