; renderer settings

XSize			= 640	; Window/fullscreen X size
YSize			= 480	; Window/fullscreen Y size
FullScreen		= 1   	; Fullscreen mode: 0/1
ColorDepth		= 32    ; Fullscreen color depth: 16/32
ScanLines		= 0   	; Scanlines: 0=none, 1=black, 2=bright
Filtering		= 3   	; Texture filtering: 0-3 (filtering causes glitches!)
Blending		= 1 	; Enhanced color blend: ogl: 0/1; D3D: 0-2
Dithering		= 0 	; Dithering: 0/1 (only needed in 16 bit color depths)
ShowFPS			= 0 	; FPS display on startup: 0/1
FrameLimitation	 	= 1 	; Frame limit: 0/1
FrameSkipping		= 0 	; Frame skip: 0/1
FramerateDetection	= 1 	; Auto framerate detection: 0/1
FramerateManual		= 60 	; Manual framerate: 0-1000
TextureType		= 3 	; Textures: 0=card's default, 1=4 bit, 2=5bit, 3=8bit
TextureCaching          = 2     ; Caching type: 0-3, def=2, mode 3 is not available on most cards
EnableKeys              = 1     ; Enable renderer keys: 0/1, def=1 (enables keys for the fps menu/pause)
FastExcel               = 0     ; Speed hack for SF 'excel' modes. Will cause glitches if enabled!
TurnDisplay             = 0     ; Turn the whole display (0-2, 0=default)
